<style>
        .turn {
            width: 60px;
            display: flex;
            flex-direction: column;
            line-height: 1;
            align-items: center;
            font-size: 1.5rem;
            font-weight: 700;
            justify-content: center;
            color: #7e1441;
            height: 60px;
            background-color: #fff;
            border-radius: 1rem;
        }

        .turn span {
            display: block;
            font-size: 0.8rem;
            background-color: #7e1441;
            border-radius: 0.3rem;
            color: #fff;
            padding: 3px 5px;
        }
    
</style>

<div class="candidates">
    <div class="container">
        <h2>All Candidates:</h2>
        <div class="candidates-container">
            {{#each candidates}}
            <div class="candidate">
                <img src="/images/user-images/{{this.userId}}.jpg" alt="">
                <div class="info">
                    <p class="turn">{{this.Turn}} <br><span>Turn</span> </p>
                    <div class="line"></div>
                    <p class="name">{{this.Name}}</p>
                    <p class="sub">{{this.Program}}</p>
                    <p class="sub">{{this.Institution}}</p>
                    <p class="email">{{this.Email}}</p>
                    <a href="/admin/view?id={{this._id}}" class="turn">View</a>
                </div>
            </div>
            {{/each}}
        </div>
    </div>
</div>