<style>
    .view {
        background-image: linear-gradient(to bottom, #000000, #1b161b, #272734, #253b4e, #185260);
        width: 100%;
        height: 100vh;
        font-size: 1.5rem;
        overflow: hidden;
        position: relative;
        z-index: 100;
        font-weight: 500;
    }
    .name{
        
        text-transform: capitalize;
    }
    .place {
        text-transform: capitalize;
    }

    .view-container {
        padding: 1rem;
        margin-top: 50px;
        width: 100%;
        height: 100%;
        display: flex;
        align-items: center;
        justify-content: space-between;
    }

    .header {
        display: flex;
        align-items: center;
        justify-content: space-between;
        position: absolute;
        width: 100%;
        height: 80px;
        padding: 0 3rem;
        top: 0;
        color: #fff;
    }

    .dhdclogo {}

    .left {
        animation: 1s ease-out 0s 1 slideInLeft;

        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        width: 50%;
        gap: 15px;
        color: #fff;
    }

    .left .sub {
        max-width: 400px;
        width: 80%;
        padding: 1rem 0;
        background-color: #fff;
        color: #185260;
        border-radius: 1rem;
        font-size: 1.5rem;
        font-weight: 600;
        text-align: center;
    }

    .name {
        font-weight: 600;
    }

    .left img {
        animation: 1s ease-out 0s 1 slideInUp;

        max-height: 400px;
        border-radius: 1rem;
        width: 400px;
        object-fit: cover;

    }

    .right {

        color: #fff;
        width: 50%;
        display: flex;
        flex-direction: column;
        gap: 1rem;
    }

    .right .info {
        animation: 1s ease-out 0s 1 slideInDown;

        background-color: rgba(0, 0, 0, 0.5);
        padding: 1rem;
      display: flex;
      align-items: flex-start;
      flex-direction: column;
        border-radius: 1rem;
        width: 80%;

    }

    .right-img {
        animation: 1s ease-out 0s 1 slideInRight;

        width: 80%;
        padding-bottom: 2rem;
    }

    .right img {
        width: 100%;
    }


    .round {
        animation: 1s ease-out 0s 1 slideInRight;

        text-align: center;
        width: 100%;
        background-color: rgba(0, 0, 0, 0.5);
        padding: 1rem;
        font-size: 1.5rem;
        font-weight: 700;
        border-radius: 1rem;
    }

    .bg {
        position: absolute;
        width: 100%;
        height: 100%;
        z-index: -1;
        opacity: 0.1;
    }
         @keyframes slideInRight {
        0% {
          transform: translateX(100%);
        }
        100% {
          transform: translateX(0);
        }
      }
         @keyframes slideInLeft {
        0% {
          transform: translateX(-100%);
        }
        100% {
          transform: translateX(0);
        }
      }
         @keyframes slideInDown {
        0% {
          transform: translateY(100%);
        }
        100% {
          transform: translateY(0);
        }
      }
        @keyframes slideInUp {
        0% {
          transform: translateY(-100%);
        }
        100% {
          transform: translateY(0);
        }
      }
</style>
<div class="view">
    <img src="/images/bg.png" class="bg" alt="">
    <div class="header">
        <img src="/images/dhdclogo.png" alt="">

        <img src="/images/dhdclogo.png" alt="">

    </div>
    <div class="view-container">

        <div class="left">
            <img src="/images/user-images/{{userProfile.userId}}.jpg" class="dhdclogo" alt="">
            <p class="name">{{userProfile.Name}}</p>
            <p class="sub">{{userProfile.Program}}</p>
        </div>
        <div class="right">
            <div class="right-img">
                <img src="/images/sha.png" alt="">
           
                <p class="round">الدورة ثانية</p>

            </div>

            <div class="info" dir="rtl">
                <p class="institution"><strong>الكلية:</strong> {{userProfile.Institution}}</p>
                <p class="place"> <strong>المكان:</strong> {{userProfile.District}}</p>
                {{!-- <p class="email"><strong >الدورة ثانية:</strong> {{userProfile.Email}}</p> --}}
                <p class="email"><strong>الرموز:</strong> {{userProfile.STNO}}</p>
                <p class="district"><strong>الرواية:</strong> {{userProfile.Program}}</p>
                <p class="email"><strong>النوبة:</strong> {{userProfile.Turn}}</p>

            </div>

        </div>
    </div>
    <div class="footer">
        <p></p>
    </div>
</div>