<div class="header">
    <div class="container">
        <div class="header-wrapper">
            <img src="/images/9.webp" class="img1" alt="">
            <img src="/images/7.webp" class="img2" alt="">
        </div>
    </div>
</div>

<div class="main-div">
    <div class="container">
        <span class="divider">Let's Choose</span>
        <div class="main-div-wrapper" id="locking">
            <form action="/surah" method="post" onsubmit="return validateSurah()">
                <input type="text" name="userId" value="{{user._id}}" hidden>
                <div class="options1" id="options1">
                    {{#if subject.s1}}
                    <div class="lock {{#if unlock.s1}}unlock{{/if}}" {{#if unlock.s1}}{{else}}onclick="selectRadio(1)"
                        {{/if}}>
                        <input type="radio" name="Surah" id="surahRadio1" value="النبأ ١-٢٠" {{#if
                            unlock.s1}}disabled{{/if}}>
                        <i class="fa-solid fa-lock{{#if unlock.s1}}-open{{/if}}"></i>
                    </div>

                    <div class="lock {{#if unlock.s2}}unlock{{/if}}" {{#if unlock.s2}}{{else}}onclick="selectRadio(2)"
                        {{/if}}>
                        <input type="radio" name="Surah" id="surahRadio2" value="النازعات ١-٢٦" {{#if
                            unlock.s2}}disabled{{/if}}>
                        <i class="fa-solid fa-lock{{#if unlock.s2}}-open{{/if}}"></i>
                    </div>
                    {{/if}}
                    {{#if subject.s2}}
                    <div class="lock {{#if unlock.s3}}unlock{{/if}}" {{#if unlock.s3}}{{else}}onclick="selectRadio(3)"
                        {{/if}}>
                        <input type="radio" name="Surah" id="surahRadio3" value="عبس ١-٢٣" {{#if
                            unlock.s3}}disabled{{/if}}>
                        <i class="fa-solid fa-lock{{#if unlock.s3}}-open{{/if}}"></i>
                    </div>

                    <div class="lock {{#if unlock.s4}}unlock{{/if}}" {{#if unlock.s4}}{{else}}onclick="selectRadio(4)"
                        {{/if}}>
                        <input type="radio" name="Surah" id="surahRadio4" value="الانشقاق ١-٢٠" {{#if
                            unlock.s4}}disabled{{/if}}>
                        <i class="fa-solid fa-lock{{#if unlock.s4}}-open{{/if}}"></i>
                    </div>

                    <div class="lock {{#if unlock.s5}}unlock{{/if}}" {{#if unlock.s5}}{{else}}onclick="selectRadio(5)"
                        {{/if}}>
                        <input type="radio" name="Surah" id="surahRadio5" value="الفجر ١٤-٣٢" {{#if
                            unlock.s5}}disabled{{/if}}>
                        <i class="fa-solid fa-lock{{#if unlock.s5}}-open{{/if}}"></i>
                    </div>
                    {{/if}}
                    {{#if subject.s3}}
                    <div class="lock {{#if unlock.s6}}unlock{{/if}}" {{#if unlock.s6}}{{else}}onclick="selectRadio(6)"
                        {{/if}}>
                        <input type="radio" name="Surah" id="surahRadio6" value="التكوير ١-٢٠" {{#if
                            unlock.s6}}disabled{{/if}}>
                        <i class="fa-solid fa-lock{{#if unlock.s6}}-open{{/if}}"></i>
                    </div>

                    <div class="lock {{#if unlock.s7}}unlock{{/if}}" {{#if unlock.s7}}{{else}}onclick="selectRadio(7)"
                        {{/if}}>
                        <input type="radio" name="Surah" id="surahRadio7" value="الانفطار ١-١٩" {{#if
                            unlock.s7}}disabled{{/if}}>
                        <i class="fa-solid fa-lock{{#if unlock.s7}}-open{{/if}}"></i>
                    </div>
                    {{/if}}
                    {{#if subject.s4}}
                    <div class="lock {{#if unlock.s8}}unlock{{/if}}" {{#if unlock.s8}}{{else}}onclick="selectRadio(8)"
                        {{/if}}>
                        <input type="radio" name="Surah" id="surahRadio8" value="المطففين ١-١٧" {{#if
                            unlock.s8}}disabled{{/if}}>
                        <i class="fa-solid fa-lock{{#if unlock.s8}}-open{{/if}}"></i>
                    </div>

                    <div class="lock {{#if unlock.s9}}unlock{{/if}}" {{#if unlock.s9}}{{else}}onclick="selectRadio(9)"
                        {{/if}}>
                        <input type="radio" name="Surah" id="surahRadio9" value="البلد ١-٢٠" {{#if
                            unlock.s9}}disabled{{/if}}>
                        <i class="fa-solid fa-lock{{#if unlock.s9}}-open{{/if}}"></i>
                    </div>
                    {{/if}}
                    {{#if subject.s5}}
                    <div class="lock {{#if unlock.s10}}unlock{{/if}}" {{#if
                        unlock.s10}}{{else}}onclick="selectRadio(10)" {{/if}}>
                        <input type="radio" name="Surah" id="surahRadio10" value="الأعلى" {{#if
                            unlock.s10}}disabled{{/if}}>
                        <i class="fa-solid fa-lock{{#if unlock.s10}}-open{{/if}}"></i>
                    </div>

                    <div class="lock {{#if unlock.s11}}unlock{{/if}}" {{#if
                        unlock.s11}}{{else}}onclick="selectRadio(11)" {{/if}}>
                        <input type="radio" name="Surah" id="surahRadio11" value="الفجر ١٤-٢٣" {{#if
                            unlock.s11}}disabled{{/if}}>
                        <i class="fa-solid fa-lock{{#if unlock.s11}}-open{{/if}}"></i>
                    </div>
                    {{/if}}
                    {{#if subject.s6}}
                    <div class="lock {{#if unlock.s12}}unlock{{/if}}" {{#if
                        unlock.s12}}{{else}}onclick="selectRadio(12)" {{/if}}>
                        <input type="radio" name="Surah" id="surahRadio12" value="الانشقاق ١-١٨" {{#if
                            unlock.s12}}disabled{{/if}}>
                        <i class="fa-solid fa-lock{{#if unlock.s12}}-open{{/if}}"></i>
                    </div>

                    <div class="lock {{#if unlock.s13}}unlock{{/if}}" {{#if
                        unlock.s13}}{{else}}onclick="selectRadio(13)" {{/if}}>
                        <input type="radio" name="Surah" id="surahRadio13" value="البروج ١-١٦" {{#if
                            unlock.s13}}disabled{{/if}}>
                        <i class="fa-solid fa-lock{{#if unlock.s13}}-open{{/if}}"></i>
                    </div>

                    <div class="lock {{#if unlock.s14}}unlock{{/if}}" {{#if
                        unlock.s14}}{{else}}onclick="selectRadio(14)" {{/if}}>
                        <input type="radio" name="Surah" id="surahRadio14" value="الهمزة، الفيل" {{#if
                            unlock.s14}}disabled{{/if}}>
                        <i class="fa-solid fa-lock{{#if unlock.s14}}-open{{/if}}"></i>
                    </div>
                    {{/if}}
                    {{#if subject.s7}}
                    <div class="lock {{#if unlock.s15}}unlock{{/if}}" {{#if
                        unlock.s15}}{{else}}onclick="selectRadio(15)" {{/if}}>
                        <input type="radio" name="Surah" id="surahRadio15" value="الفجر ١٤-٣٠" {{#if
                            unlock.s15}}disabled{{/if}}>
                        <i class="fa-solid fa-lock{{#if unlock.s15}}-open{{/if}}"></i>
                    </div>

                    <div class="lock {{#if unlock.s16}}unlock{{/if}}" {{#if
                        unlock.s16}}{{else}}onclick="selectRadio(16)" {{/if}}>
                        <input type="radio" name="Surah" id="surahRadio16" value="الانفطار" {{#if
                            unlock.s16}}disabled{{/if}}>
                        <i class="fa-solid fa-lock{{#if unlock.s16}}-open{{/if}}"></i>
                    </div>
                    {{/if}}
                    {{#if subject.s8}}
                    <div class="lock {{#if unlock.s17}}unlock{{/if}}" {{#if
                        unlock.s17}}{{else}}onclick="selectRadio(17)" {{/if}}>
                        <input type="radio" name="Surah" id="surahRadio17" value="البينة" {{#if
                            unlock.s17}}disabled{{/if}}>
                        <i class="fa-solid fa-lock{{#if unlock.s17}}-open{{/if}}"></i>
                    </div>

                    <div class="lock {{#if unlock.s18}}unlock{{/if}}" {{#if
                        unlock.s18}}{{else}}onclick="selectRadio(18)" {{/if}}>
                        <input type="radio" name="Surah" id="surahRadio18" value="الكافرون، النصر" {{#if
                            unlock.s18}}disabled{{/if}}>
                        <i class="fa-solid fa-lock{{#if unlock.s18}}-open{{/if}}"></i>
                    </div>
                    {{/if}}
                    {{#if subject.s9}}
                    <div class="lock {{#if unlock.s19}}unlock{{/if}}" {{#if
                        unlock.s19}}{{else}}onclick="selectRadio(19)" {{/if}}>
                        <input type="radio" name="Surah" id="surahRadio19" value="المطففين ١-١٧" {{#if
                            unlock.s19}}disabled{{/if}}>
                        <i class="fa-solid fa-lock{{#if unlock.s19}}-open{{/if}}"></i>
                    </div>

                    <div class="lock {{#if unlock.s20}}unlock{{/if}}" {{#if
                        unlock.s20}}{{else}}onclick="selectRadio(20)" {{/if}}>
                        <input type="radio" name="Surah" id="surahRadio20" value="العصر، الهمزة" {{#if
                            unlock.s20}}disabled{{/if}}>
                        <i class="fa-solid fa-lock{{#if unlock.s20}}-open{{/if}}"></i>
                    </div>
                    {{/if}}
                    {{#if subject.s10}}
                    <div class="lock {{#if unlock.s21}}unlock{{/if}}" {{#if
                        unlock.s21}}{{else}}onclick="selectRadio(21)" {{/if}}>
                        <input type="radio" name="Surah" id="surahRadio21" value="الأعلى" {{#if
                            unlock.s21}}disabled{{/if}}>
                        <i class="fa-solid fa-lock{{#if unlock.s21}}-open{{/if}}"></i>
                    </div>

                    <div class="lock {{#if unlock.s22}}unlock{{/if}}" {{#if
                        unlock.s22}}{{else}}onclick="selectRadio(22)" {{/if}}>
                        <input type="radio" name="Surah" id="surahRadio22" value="الشمس" {{#if
                            unlock.s22}}disabled{{/if}}>
                        <i class="fa-solid fa-lock{{#if unlock.s22}}-open{{/if}}"></i>
                    </div>
                    {{/if}}
                    {{#if subject.s11}}
                    <div class="lock {{#if unlock.s23}}unlock{{/if}}" {{#if
                        unlock.s23}}{{else}}onclick="selectRadio(23)" {{/if}}>
                        <input type="radio" name="Surah" id="surahRadio23" value="النازعات ١٤-٢٦" {{#if
                            unlock.s23}}disabled{{/if}}>
                        <i class="fa-solid fa-lock{{#if unlock.s23}}-open{{/if}}"></i>
                    </div>

                    <div class="lock {{#if unlock.s24}}unlock{{/if}}" {{#if
                        unlock.s24}}{{else}}onclick="selectRadio(24)" {{/if}}>
                        <input type="radio" name="Surah" id="surahRadio24" value="العلق" {{#if
                            unlock.s24}}disabled{{/if}}>
                        <i class="fa-solid fa-lock{{#if unlock.s24}}-open{{/if}}"></i>
                    </div>

                    <div class="lock {{#if unlock.s25}}unlock{{/if}}" {{#if
                        unlock.s25}}{{else}}onclick="selectRadio(25)" {{/if}}>
                        <input type="radio" name="Surah" id="surahRadio25" value="المطففين ٢٢-٣٦" {{#if
                            unlock.s25}}disabled{{/if}}>
                        <i class="fa-solid fa-lock{{#if unlock.s25}}-open{{/if}}"></i>
                    </div>
                    {{/if}}
                    {{#if subject.s12}}
                    <div class="lock {{#if unlock.s26}}unlock{{/if}}" {{#if
                        unlock.s26}}{{else}}onclick="selectRadio(26)" {{/if}}>
                        <input type="radio" name="Surah" id="surahRadio26" value="الليل" {{#if
                            unlock.s26}}disabled{{/if}}>
                        <i class="fa-solid fa-lock{{#if unlock.s26}}-open{{/if}}"></i>
                    </div>

                    <div class="lock {{#if unlock.s27}}unlock{{/if}}" {{#if
                        unlock.s27}}{{else}}onclick="selectRadio(27)" {{/if}}>
                        <input type="radio" name="Surah" id="surahRadio27" value="الضحى، الشرح" {{#if
                            unlock.s27}}disabled{{/if}}>
                        <i class="fa-solid fa-lock{{#if unlock.s27}}-open{{/if}}"></i>
                    </div>
                    {{/if}}
                    {{#if subject.s13}}
                    <div class="lock {{#if unlock.s28}}unlock{{/if}}" {{#if
                        unlock.s28}}{{else}}onclick="selectRadio(28)" {{/if}}>
                        <input type="radio" name="Surah" id="surahRadio28" value="الغاشية" {{#if
                            unlock.s28}}disabled{{/if}}>
                        <i class="fa-solid fa-lock{{#if unlock.s28}}-open{{/if}}"></i>
                    </div>

                    <div class="lock {{#if unlock.s29}}unlock{{/if}}" {{#if
                        unlock.s29}}{{else}}onclick="selectRadio(29)" {{/if}}>
                        <input type="radio" name="Surah" id="surahRadio29" value="الزلزلة، الهمزة" {{#if
                            unlock.s29}}disabled{{/if}}>
                        <i class="fa-solid fa-lock{{#if unlock.s29}}-open{{/if}}"></i>
                    </div>

                    <div class="lock {{#if unlock.s30}}unlock{{/if}}" {{#if
                        unlock.s30}}{{else}}onclick="selectRadio(30)" {{/if}}>
                        <input type="radio" name="Surah" id="surahRadio30" value="البلد" {{#if
                            unlock.s30}}disabled{{/if}}>
                        <i class="fa-solid fa-lock{{#if unlock.s30}}-open{{/if}}"></i>
                    </div>
                    {{/if}}
                </div>

                <div id="options2">
                    <input type="radio" name="RadioName" value="surahRadio1" id="surahRadio1" hidden>
                    <input type="radio" name="RadioName" value="surahRadio2" id="surahRadio2" hidden>
                    <input type="radio" name="RadioName" value="surahRadio3" id="surahRadio3" hidden>
                    <input type="radio" name="RadioName" value="surahRadio4" id="surahRadio4" hidden>
                    <input type="radio" name="RadioName" value="surahRadio5" id="surahRadio5" hidden>
                    <input type="radio" name="RadioName" value="surahRadio6" id="surahRadio6" hidden>
                    <input type="radio" name="RadioName" value="surahRadio7" id="surahRadio7" hidden>
                    <input type="radio" name="RadioName" value="surahRadio8" id="surahRadio8" hidden>
                    <input type="radio" name="RadioName" value="surahRadio9" id="surahRadio9" hidden>
                    <input type="radio" name="RadioName" value="surahRadio10" id="surahRadio10" hidden>
                    <input type="radio" name="RadioName" value="surahRadio11" id="surahRadio11" hidden>
                    <input type="radio" name="RadioName" value="surahRadio12" id="surahRadio12" hidden>
                    <input type="radio" name="RadioName" value="surahRadio13" id="surahRadio13" hidden>
                    <input type="radio" name="RadioName" value="surahRadio14" id="surahRadio14" hidden>
                    <input type="radio" name="RadioName" value="surahRadio15" id="surahRadio15" hidden>
                    <input type="radio" name="RadioName" value="surahRadio16" id="surahRadio16" hidden>
                    <input type="radio" name="RadioName" value="surahRadio17" id="surahRadio17" hidden>
                    <input type="radio" name="RadioName" value="surahRadio18" id="surahRadio18" hidden>
                    <input type="radio" name="RadioName" value="surahRadio19" id="surahRadio19" hidden>
                    <input type="radio" name="RadioName" value="surahRadio20" id="surahRadio20" hidden>
                    <input type="radio" name="RadioName" value="surahRadio21" id="surahRadio21" hidden>
                    <input type="radio" name="RadioName" value="surahRadio22" id="surahRadio22" hidden>
                    <input type="radio" name="RadioName" value="surahRadio23" id="surahRadio23" hidden>
                    <input type="radio" name="RadioName" value="surahRadio24" id="surahRadio24" hidden>
                    <input type="radio" name="RadioName" value="surahRadio25" id="surahRadio25" hidden>
                    <input type="radio" name="RadioName" value="surahRadio26" id="surahRadio26" hidden>
                    <input type="radio" name="RadioName" value="surahRadio27" id="surahRadio27" hidden>
                    <input type="radio" name="RadioName" value="surahRadio28" id="surahRadio28" hidden>
                    <input type="radio" name="RadioName" value="surahRadio29" id="surahRadio29" hidden>
                    <input type="radio" name="RadioName" value="surahRadio30" id="surahRadio30" hidden>
                </div>
                <div class="btn-div">
                    <button class="btn3">submit</button>
                </div>
                {{#if loginErr}}
                <div class="alert alert-danger" id="hideMe">
                    {{loginErr}}
                </div>
                {{/if}}
            </form>
        </div>
    </div>
</div>

<script>
    function validateSurah() {
        var radioButtons = document.getElementsByName('Surah');
        var isChecked = false;

        for (var i = 0; i < radioButtons.length; i++) {
            if (radioButtons[i].checked) {
                isChecked = true;
                break;
            }
        }

        if (!isChecked) {
            alert('Please select an option before submitting.');
            return false; // Prevent surah submission
        }

        return true; // Allow surah submission
    }

    function selectRadio(index) {
        // Select the corresponding surahRadio in option1
        document.getElementById(`surahRadio${index}`).checked = true;

        // Select the corresponding surahRadio in option2
        document.querySelector(`#options2 input[value="surahRadio${index}"]`).checked = true;
    }

    function hideParagraph() {
        var paragraph = document.getElementById("hideMe");
        paragraph.style.display = "none";
    }

    document.addEventListener("DOMContentLoaded", function () {
        setTimeout(hideParagraph, 3000);
    });
</script>

<style>
    @import url('https://fonts.googleapis.com/css2?family=Anek+Malayalam:wght@100..800&display=swap');

    * {
        padding: 0;
        margin: 0;
        font-family: "Anek Malayalam", sans-serif;
        /* aca38e */
        /* 1100c */
        /* 474131 */
    }

    .container {
        max-width: 1140px;
        margin: auto;
        width: 90%;
    }

    .header {
        width: 100%;
        padding: 32px 0;
        text-align: center;
        background: rgb(26, 24, 18);
        background: linear-gradient(90deg, rgba(26, 24, 18, 1) 1%, rgba(52, 48, 36, 1) 28%, rgba(128, 118, 90, 1) 100%);

        .header-wrapper {
            display: flex;
            align-items: center;
            justify-content: center;

            .img1 {
                max-width: 200px;
                width: 40%;
                display: block;

            }

            .img2 {
                max-width: 300px;
                width: 60%;
                display: block;

            }
        }
    }

    .divider {
        background: #575136;
        max-width: 500px;
        width: 60%;
        display: block;
        text-align: center;
        margin: 20px auto;
        position: absolute;
        left: 50%;
        color: #fff;
        transform: translatex(-50%);
        border-radius: 6px;
    }

    .main-div {
        position: relative;
        min-height: 77vh;
        height: auto;
        background: rgb(17, 16, 12);
        background: linear-gradient(90deg, rgba(17, 16, 12, 1) 0%, rgba(40, 36, 27, 1) 33%, rgba(73, 66, 47, 1) 100%);

        .main-div-wrapper {

            /* width: 800px; */
            /* padding: 60px 0; */
                {
                    {
                    !-- padding-top: 60px;
                    padding-bottom: 60px;
                    --
                }
            }

            width: 85%;

                {
                    {
                    !-- display: flex;
                    justify-content: center;
                    flex-wrap: wrap;
                    --
                }
            }

            margin: auto;
            gap: 15px;

            form {
                .options1 {
                    padding-top: 60px;
                    padding-bottom: 60px;
                    width: 85%;
                    display: flex;
                    justify-content: center;
                    flex-wrap: wrap;
                    margin: auto;
                    gap: 15px;

                    .lock {
                        cursor: pointer;
                        color: #1a1915;
                        background: #6b634b;
                        display: inline;
                        height: 90px;
                        width: 90px;
                        border-radius: 15px;
                        text-align: center;
                        display: flex;
                        align-items: center;
                        justify-content: center;
                        transition: all ease 0.4s;

                        &:hover {
                            box-shadow: rgba(0, 0, 0, 0.25) 0px 25px 50px -12px;
                            background-color: #57523c;
                            transsurah: scale(1.1);
                        }

                        i {
                            font-size: 27px;
                            transition: all ease 0.4s;

                            &:hover {
                                transsurah: scale(1.1);
                            }
                        }

                        &.unlock {
                            background: #474130;

                            i {
                                &:hover {
                                    transsurah: scale(1);
                                }
                            }

                            &:hover {
                                transsurah: scale(1);
                            }
                        }
                    }
                }
            }

            .btn-div {
                width: 100%;
                display: flex;
                justify-content: center;
                padding-bottom: 30px;
            }

            @media only screen and (max-width: 992px) {
                .main-div-wrapper {
                    width: 100% !important;
                    gap: 12px;

                    .lock {
                        height: 65px;
                        width: 65px;
                        transition: all ease 0.4s;

                        &:hover {
                            box-shadow: rgba(0, 0, 0, 0.25) 0px 25px 50px -12px;
                            background-color: #57523c;
                        }
                    }

                    i {
                        font-size: 25px;
                    }
                }
            }

            .btn3 {
                border: none;
                outline: none;
                padding: 10px 80px;
                font-size: 14px;
                border-radius: 32px;
                color: #4f4b3c;
                background: #aca38e;
                transition: all ease 0.4s;
                display: block;

                &:hover {
                    background-color: #4f4b3c;
                    color: #aca38e;
                }
            }

            input[type="radio"] {
                position: absolute;
                opacity: 0;
                display: none;
            }

            .lock:has(input[type="radio"]:checked) {
                transform: scale(1.1);
                /* Increased scale to make the change more noticeable */
                background-color: #474130;
            }
</style>